body {
    background-color: black;
    color: black;
    margin: 50px;
    
}

header {
    text-align: center;
    background-color: rgba(216, 211, 211, 0.679);
    border-radius: 5px;
    box-shadow: 10px 10px 10px #badecdc6;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

header h1 {
    margin-top: 10px;
    font-family: sans-serif;
}

header p {
    margin-bottom: 16px;
}

.box {
    padding: 10px;   
}

.box input {
    padding:  2px;
}

.container {
    padding: 10px;
}

.container input {
    padding: 2px;
}

.container p {
    margin-top: 5px;
}

.luva {
    margin-bottom: 10px; 
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
    text-align: none;
    text-decoration: underline;

}

button:hover {
    color: blue;
}