body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container-dicas {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #45a049;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #007acc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 80px ;
    padding: 20px;
}

h1 {
    color: #007acc;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

a:hover {
    color: #007acc;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="number"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
}

button {
    padding: 5px 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}

#dica, #tentativas {
    margin-top: 10px;
    font-weight: bold;
}

#dica {
    color: #4CAF50;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        width: 100%;
    }

    input[type="number"] {
        width: 100%;
        margin-bottom: 10px;
    }
}